*{
    padding: 0;
    margin: 0;
}

h1,p{
    text-align: center;
    background-color: inherit;
    color:whitesmoke;
    border-style: solid;
    border-width: 0px;
    opacity: 0.9;
}
h1{
    font-family: Helvetica, sans-serif;
    font-size: 70;
}

p{
    font-family: Helvetica, sans-serif;
    font-size: 40;  
}

div{
    align-items: center;
    align-content: center;
}

body{
    background-image: url('../image/wallpaper.jpg');
    background-size: 1200px,600px;
}

canvas{
    background-color: rgb(45, 73, 83);
    display: block;
    margin: 0 auto;
    overflow: auto;
    align-content: center;
}